@charset "UTF-8";
@media print, screen and (min-width: 767px) {
  ._sp {
    display: none;
  }
}

._pc {
  display: none;
}

@media print, screen and (min-width: 767px) {
  ._pc {
    display: block;
  }
}

html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  font-size: 16px;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #333;
  line-height: 1.5;
  background-color: #fff;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  display: block;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  background-size: cover;
  background-repeat: no-repeat;
}

figure {
  margin: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ul, li, dl, dt, dd {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  -webkit-transition: all .6s ease;
  transition: all .6s ease;
  color: #333333;
}

a:hover {
  -webkit-transition: all .6s ease;
  transition: all .6s ease;
  opacity: 0.6;
}

/*                                                             base */
.inner {
  margin: 0 auto;
  max-width: 375px;
  width: 100%;
}

@media print, screen and (min-width: 767px) {
  .inner {
    margin: 0 auto;
    max-width: 1080px;
    width: 100%;
  }
}

.cmn_link:hover {
  color: #EE6557;
}

.cmn_ttl_wrap {
  text-align: center;
  padding-top: 60px;
}

@media print, screen and (min-width: 767px) {
  .cmn_ttl_wrap {
    padding-top: 100px;
  }
}

.cmn_ttl_wrap .cmn_ttl {
  font-size: 24px;
  color: #333333;
  position: relative;
  margin-bottom: 80px;
  text-align: center;
  font-weight: bold;
}

@media print, screen and (min-width: 767px) {
  .cmn_ttl_wrap .cmn_ttl {
    font-size: 36px;
  }
}

.cmn_ttl_wrap .cmn_ttl::before {
  position: absolute;
  content: "";
  background: #EE6557;
  width: 80px;
  height: 3px;
  bottom: -20px;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media print, screen and (min-width: 767px) {
  .cmn_ttl_wrap .cmn_ttl::before {
    height: 8px;
  }
}

.header {
  height: 65px;
  position: fixed;
  width: 100%;
  margin: 0;
  z-index: 5;
}

@media print, screen and (min-width: 767px) {
  .header {
    height: 80px;
  }
}

.header .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .inner .header_ttl_wrap {
  width: 119px;
}

@media print, screen and (min-width: 767px) {
  .header .inner .header_ttl_wrap {
    width: 200px;
  }
}

.header .inner .header_ttl_wrap .header_ttl {
  padding: 18px 15px;
  font-size: 24px;
  color: #fff;
  font-weight: bold;
  background: #EE6557;
  height: 65px;
}

@media print, screen and (min-width: 767px) {
  .header .inner .header_ttl_wrap .header_ttl {
    padding: 18px 34px 19px 33px;
    font-size: 36px;
    height: 80px;
  }
}

.header .inner .header_nav_wrap .header_nav .header_list {
  display: none;
}

@media print, screen and (min-width: 767px) {
  .header .inner .header_nav_wrap .header_nav .header_list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.header .inner .header_nav_wrap .header_nav .header_list .header_item:not(:first-of-type) {
  margin-left: 24px;
}

.header .inner .header_nav_wrap .header_nav .header_list .header_item .header_link {
  color: #333333;
}

.header .inner .header_nav_wrap .header_nav .header_list .header_item .header_link:hover {
  color: #EE6557;
}

.footer {
  width: 375px;
  margin: 0 auto;
  background: #666666;
}

@media print, screen and (min-width: 767px) {
  .footer {
    width: 100%;
  }
}

.footer .copyright {
  text-align: center;
  color: #fff;
  padding: 12px 0;
}

@media print, screen and (min-width: 767px) {
  .footer .copyright {
    padding: 22px 0;
  }
}

.access {
  margin-bottom: 0;
  width: 100%;
}

@media print, screen and (min-width: 767px) {
  .access {
    margin-bottom: 100px;
  }
}

.access .inner .access_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.access .inner .access_content .access_desc {
  padding: 50px 90px 30px;
  background: #f4f4f4;
  width: 100%;
}

@media print, screen and (min-width: 767px) {
  .access .inner .access_content .access_desc {
    padding: 74px 135px 56px;
    width: 460px;
    height: 347px;
  }
}

.access .inner .access_content .access_desc .access_desc_ttl {
  font-size: 24px;
  color: #fff;
  background: #EE6557;
  width: 142px;
  height: 57px;
  padding: 12px 23px;
  margin-bottom: 30px;
}

.access .inner .access_content .access_desc .access_desc_address {
  line-height: 2;
  margin-bottom: 30px;
}

.access .inner .access_content .access_desc .access_desc_btn a.access_desc_link {
  display: block;
  color: #666666;
  width: 157px;
  height: 48px;
  border: 1px solid #666666;
  background: #fff;
  padding: 10px 20px;
  position: relative;
}

.access .inner .access_content .access_desc .access_desc_btn a.access_desc_link::before {
  content: ">";
  color: #666666;
  position: absolute;
  top: 50%;
  right: 5%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.access .inner .access_content .access_img_wrap .access_img {
  width: 345px;
  height: 236px;
  margin: 0 auto;
}

@media print, screen and (min-width: 767px) {
  .access .inner .access_content .access_img_wrap .access_img {
    width: 540px;
    height: 280px;
  }
}

@media screen and (max-width: 767px) {
  .access_content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.feature {
  width: 100%;
}

.feature .inner {
  margin: 0 auto;
  max-width: 375px;
  width: 100%;
}

@media print, screen and (min-width: 767px) {
  .feature .inner {
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;
  }
}

.feature .inner .section_ttl {
  margin-bottom: 65px;
}

@media print, screen and (min-width: 767px) {
  .feature .inner .section_ttl {
    margin-bottom: 135px;
  }
}

.feature .inner .feature_content .cmn_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

@media print, screen and (min-width: 767px) {
  .feature .inner .feature_content .cmn_content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.feature .inner .feature_content .cmn_content.even {
  margin-bottom: 0;
}

@media print, screen and (min-width: 767px) {
  .feature .inner .feature_content .cmn_content.even {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-bottom: 100px;
  }
}

@media print, screen and (min-width: 767px) {
  .feature .inner .feature_content .cmn_content.odd {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}

.feature .inner .feature_content .cmn_content .feature_desc {
  width: 100%;
  background: #f4f4f4;
  padding: 30px 50px;
  text-align: center;
  color: #666666;
}

@media print, screen and (min-width: 767px) {
  .feature .inner .feature_content .cmn_content .feature_desc {
    padding: 60px 86px;
    height: 300px;
    width: 460px;
  }
}

.feature .inner .feature_content .cmn_content .feature_desc .feature_desc_top {
  margin-bottom: 25px;
}

.feature .inner .feature_content .cmn_content .feature_desc .feature_desc_top .feature_desc_ttl {
  color: #666666;
  font-size: 18px;
}

@media print, screen and (min-width: 767px) {
  .feature .inner .feature_content .cmn_content .feature_desc .feature_desc_top .feature_desc_ttl {
    font-size: 36px;
  }
}

.feature .inner .feature_content .cmn_content .feature_desc .feature_desc_bottom .cmn_desc {
  font-size: 14px;
}

@media print, screen and (min-width: 767px) {
  .feature .inner .feature_content .cmn_content .feature_desc .feature_desc_bottom .cmn_desc {
    font-size: 16px;
  }
}

.feature .inner .feature_content .cmn_content .feature_img_wrap .feature_img {
  width: 100%;
  height: 180px;
}

@media print, screen and (min-width: 767px) {
  .feature .inner .feature_content .cmn_content .feature_img_wrap .feature_img {
    width: 540px;
    height: 395px;
  }
}

.products {
  padding: 0 5%;
  width: 100%;
}

.products .inner .products_content .products_wrap .products_list {
  display: block;
}

@media print, screen and (min-width: 767px) {
  .products .inner .products_content .products_wrap .products_list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.products .inner .products_content .products_wrap .products_list .products_item {
  width: 100%;
}

@media print, screen and (min-width: 767px) {
  .products .inner .products_content .products_wrap .products_list .products_item {
    width: calc(100% / 3);
  }
}

.products .inner .products_content .products_wrap .products_list .products_item:not(:last-of-type) {
  margin-right: 0;
  margin-bottom: 68px;
}

@media print, screen and (min-width: 767px) {
  .products .inner .products_content .products_wrap .products_list .products_item:not(:last-of-type) {
    margin-bottom: 0;
    margin-right: 64px;
  }
}

.products .inner .products_content .products_wrap .products_list .products_item .products_img_txt {
  margin: 20px 0;
  text-align: center;
  font-weight: bold;
}

.products .inner .products_content .products_wrap .products_list .products_item .products_btn_wrap a.products_link {
  display: block;
  width: 149px;
  line-height: 48px;
  margin: 0 auto;
  padding: 0 30px;
  border: 1px solid #666666;
  position: relative;
}

.products .inner .products_content .products_wrap .products_list .products_item .products_btn_wrap a.products_link::before {
  content: ">";
  position: absolute;
  top: 50%;
  right: 5%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.top {
  padding-top: 65px;
}

@media print, screen and (min-width: 767px) {
  .top {
    padding-top: 80px;
  }
}

.top .inner {
  margin: 0 auto;
  max-width: 375px;
  width: 100%;
}

@media print, screen and (min-width: 767px) {
  .top .inner {
    margin: 0 auto;
    max-width: 1080px;
    width: 100%;
  }
}

.top .inner .top_content {
  width: 375px;
  height: 230px;
  position: relative;
  background-image: url(/images/jessica-loaiza-DHYfjAe_eeo-unsplash.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.top .inner .top_content::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(219, 219, 219, 0.7);
}

@media print, screen and (min-width: 767px) {
  .top .inner .top_content {
    width: 1080px;
    height: 444px;
  }
  .top .inner .top_content::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(219, 219, 219, 0.7);
  }
}

.top .inner .top_content .top_ttl {
  position: absolute;
  top: 50%;
  left: 35%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #333333;
  font-size: 24px;
}

@media print, screen and (min-width: 767px) {
  .top .inner .top_content .top_ttl {
    font-size: 36px;
    left: 20%;
  }
}

/* ------------------------------------------------ */
/* 基本の3本線 */
/* ------------------------------------------------ */
.nav_toggle {
  display: block;
  position: relative;
  width: 1.75rem;
  height: 1.5rem;
  right: 15px;
  /* 3本線の位置調整 */
  z-index: 5;
  /* 調整 */
  cursor: pointer;
}

@media print, screen and (min-width: 767px) {
  .nav_toggle {
    display: none;
  }
}

.nav_toggle i {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #333;
  position: absolute;
  -webkit-transition: opacity .6s, -webkit-transform .6s;
  transition: opacity .6s, -webkit-transform .6s;
  transition: transform .6s, opacity .6s;
  transition: transform .6s, opacity .6s, -webkit-transform .6s;
}

.nav_toggle i:nth-child(1) {
  top: 0;
}

.nav_toggle i:nth-child(2) {
  top: 0;
  bottom: 0;
  margin: auto;
}

.nav_toggle i:nth-child(3) {
  bottom: 0;
}

/* ------------------------------------------------ */
/* .nav_toggleにshowクラス付ける */
/* ------------------------------------------------ */
.nav_toggle.show i:nth-child(1) {
  -webkit-transform: translateY(10px) rotate(-45deg);
          transform: translateY(10px) rotate(-45deg);
}

.nav_toggle.show i:nth-child(2) {
  opacity: 0;
}

.nav_toggle.show i:nth-child(3) {
  -webkit-transform: translateY(-12px) rotate(45deg);
          transform: translateY(-12px) rotate(45deg);
}

/* ------------------------------------------------ */
/* nav */
/* ------------------------------------------------ */
.nav {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity .6s, visibility .6s;
  transition: opacity .6s, visibility .6s;
  background: #fff;
}

@media print, screen and (min-width: 767px) {
  .nav {
    display: none;
  }
}

.nav .nav_menu_ul {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.nav .nav_menu_ul .nav_menu_li:not(:last-of-type) {
  margin-bottom: 60px;
  /* 調整 */
}

.nav .nav_menu_ul .nav_menu_li .nav_menu_link {
  font-size: 18px;
  color: #EE6557;
  font-weight: bold;
  display: block;
}

.nav .nav_menu_ul .nav_menu_li .nav_menu_link:hover {
  text-shadow: 2px 2px 2px #000;
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

.nav.show {
  opacity: 1;
  visibility: visible;
}
/*# sourceMappingURL=style.css.map */