@charset "utf-8";

.inner {
  margin: 0 auto;
  max-width: 375px;
  width: 100%;
  @include overTab {
    margin: 0 auto;
    max-width: 1080px;
    width: 100%;  
  }
}

.cmn_link:hover {
  color: #EE6557;
}

.cmn_ttl_wrap {
  text-align: center;
  padding-top: 60px;
  @include overTab {
    padding-top: 100px;
  }

  .cmn_ttl {
    font-size: 24px;
    color: cl(text);
    position: relative;
    margin-bottom: 80px;
    text-align: center;
    font-weight: bold;
    @include overTab {
      font-size: 36px;
    }

    &::before {
      position: absolute;
      content: "";
      background: cl(primary);
      width: 80px;
      height: 3px;
      bottom: -20px;
      left: 50%;
      transform: translate(-50%, -50%);
      @include overTab {
        height: 8px;
      }
    }
  }
}