@charset "utf-8";


.products {
  padding: 0 5%;
  width: 100%;  
  @include overTab {
  }
  .inner {

    .products_content {

      .products_wrap {

        .products_list {
          display: block;
          // flex-direction: column;
          @include overTab {
            display: flex;
            justify-content: space-between;
            align-items: center;
          }
          .products_item {
            width: 100%;
            @include overTab {
              width: calc(100% / 3);
            }
            &:not(:last-of-type) {
              margin-right: 0;
              margin-bottom: 68px;
              @include overTab {
                margin-bottom: 0;
                margin-right: 64px;                
              }
            }
            .products_img_wrap {

              .products_img {

              }
            }
            .products_img_txt {
              margin: 20px 0;
              text-align: center;
              font-weight: bold;
            }
            .products_btn_wrap {

              a.products_link {
                display: block;
                width: 149px;
                line-height: 48px;
                margin: 0 auto;
                padding: 0 30px;
                border: 1px solid cl(grey);
                position: relative;
                &::before {
                  content: ">";
                  position: absolute;
                  top: 50%;
                  right: 5%;
                  transform: translate(-50%, -50%);
                }
              }
            }
          }
        }
      }
    }
  }
}